import React from 'react';
import PropTypes from 'prop-types';

export interface {{properCase componentName}}Props {
  id?: string;
}

export const classNames = {
  ROOT: '.{{properCase componentName}}',
}

const {{properCase componentName}}: React.FC<{{properCase componentName}}Props> = () => {
  return <div className={classNames.ROOT}></div>;
};

{{properCase componentName}}.propTypes = {
  id: PropTypes.string,
};

export default {{properCase componentName}};
